.Services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Services .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: #21b90d solid 5px;
    border-radius: 8px;
}

.Services .box-container .box:hover {
    transform: translateY(-3px);
    outline-offset: 0rem;
}

.Services .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.Services .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.Services .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.Services .box-container .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.Services .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: .5rem 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .3rem solid var(--green);
    color: var(--green);
    cursor: pointer;
    background: none;
}